<template>
  <v-app>
    <v-main>
      <!--el app es para separar en dos la pantalla de la pagina -->
      <v-navigation-drawer app v-model="drawer" right>
        <div class="v-container " style="display: grid; place-items: center;">
        
          <v-list nav>
            <v-list-item prepend-icon="mdi-email" title="Inbox">
          <v-btn text href="/">Cerrar sesion</v-btn>
        </v-list-item>
          </v-list>
         
        </div>
        <v-divider :thickness="6"></v-divider>
      </v-navigation-drawer >
      <v-app-bar app>
        <v-toolbar-title > 
          <label style="font-size: 15px; line-height: 1;">
            Bienvenido,
          </label>
          <br>Usuario</v-toolbar-title>
        
<!--se usa absolute right=0 para mandar el icono hasta el lado derecho-->
        <v-app-bar-nav-icon absolute right  @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-app-bar>
      <nuxt/>
    </v-main> 
    <v-bottom-navigation app fixed grow :elevation="3" >
     
 <v-btn value="checados" to="/menu" >
   <span>Checados</span>

   <v-icon>mdi mdi-receipt-text-check-outline</v-icon>
</v-btn>

<v-btn value="faltantes" to="/menu/faltantes">
<span>Faltantes</span>
<v-icon>mdi mdi-cash-clock</v-icon>

</v-btn>

<v-btn value="prestamos" to="/menu/prestamos">
<span>Prestamos</span>
<v-icon>mdi mdi-cash-multiple</v-icon>
</v-btn>
 </v-bottom-navigation> 
     <!--botones inferiores -->
    </v-app>

</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {
     drawer: false,
    
    }
  },
  

}
</script>
