<template>
   <div class="d-flex align-center flex-column" style="height: 110vh">
       <v-simple-table style="width: 550px">
        <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Empleado
          </th>
          <th class="text-left">
            Cantidad
          </th>
          <th>
            Turno
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in prestamos"
          :key="item.name"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.turno }}</td>
        </tr>
      </tbody>
    </template>
       </v-simple-table>
   </div>
</template>

<script>


export default {
   layout : "lobby",
   data () {
      return {
        prestamos: [
          {
            name: 'Sonia Vazquez',
            cantidad: 159,
            turno: 'M'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 237,
            turno: 'M'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 262,
            turno: 'M'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 305,
            turno: 'F'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 356,
            turno: 'F'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 375,
            turno: 'M'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 392,
            turno: 'M'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 305,
            turno: 'F'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 356,
            turno: 'F'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 375,
            turno: 'M'
          },
          {
            name: 'Sonia Vazquez',
            cantidad: 392,
            turno: 'M'
          },
        
        ],
      }
    },
}
</script>

