<template>
    <div class="d-flex align-center flex-column" style="height: 120vh">
    
    <br>
      <v-card width="400">
      <v-card-item>
        <v-card-title>Asistencia</v-card-title>
        <v-card-subtitle>21/02/24</v-card-subtitle>
      </v-card-item>
      <v-card-text>
       hora: 7:00 am
       <br>
       turno: Mañana
      </v-card-text>
    </v-card>
    <br>

    <v-card width="400">
      <v-card-item>
        <v-card-title>Asistencia</v-card-title>
        <v-card-subtitle>21/02/24</v-card-subtitle>
      </v-card-item>
      <v-card-text>
        hora: 2:00 pm
       <br>
       turno: Tarde
      </v-card-text>
    </v-card>
    <br>

    <v-card width="400">
      <v-card-item>
        <v-card-title>Falta</v-card-title>
        <v-card-subtitle>21/02/24</v-card-subtitle>
      </v-card-item>
      <v-card-text>
        hora: 11:00 am
       <br>
       turno: Mañana
      </v-card-text>
    </v-card>

    <br>
    <v-card width="400">
      <v-card-item>
        <v-card-title>Asistencia</v-card-title>
        <v-card-subtitle>21/02/24</v-card-subtitle>
      </v-card-item>
      <v-card-text>
        hora: 7:00 am
       <br>
       turno: Mañana
      </v-card-text>
    </v-card>
    </div>
</template>

<script>
export default {
   layout : "lobby"
}
</script>