<template>
   <div class="d-flex align-center justify-center" style="height: 70vh">
    <v-sheet width="300">
        <template>
          
                <v-card-text class="text-center">Monto disponible</v-card-text>
                <v-card-text class="text-center" style="font-size: 27px; font-weight: 550;">$1500</v-card-text>       
              
                    <div class="text-center">
                    <v-dialog v-model="dialog" width="500">
                        <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" class="mt-2" color="blue" >
                            Solicitar
                        </v-btn>
                        </template>

                        <v-card>
                        <v-card-title class="text-h5">Aviso! </v-card-title>

                        <v-card-text> Solicitar prestamo con la cantidad disponible? </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn text @click="dialog = false" > Cancelar </v-btn>
                            <v-btn color="red" text @click="dialog = !dialog"> Aceptar </v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-dialog>
                    </div>
          

            
        </template>

    </v-sheet>

   </div>  
</template>

<script>

export default {
   layout : "lobby",
   data(){
    return{
        dialog: false,
    }
   }
   
}
</script>
