<template>
  <div class="d-flex align-center justify-center" style="height: 82vh">
     <v-sheet width="300" class="mx-auto">
        <div style="text-align: center;">
            <img src="https://play-lh.googleusercontent.com/1AfcSbC2IiHMeAiBXhiFIfTKPUsmiyrIuTViPzhPN_7hdtDqdp6zX1GpjNgZAsyt8mJT" height="150" >
            <br>
            <label style="font-size: 28px; font-weight: 700;">Sr. Billetero</label>
            <br>
            <label style="font-size: 17px; font-weight: 550;">Colaboradores</label>
        </div>
         <v-form fast-fail @submit.prevent="login">
             <v-text-field  label="Usuario" append-icon="mdi mdi-account"></v-text-field>
        
       <v-text-field
           
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="Contraseña"
            counter
            @click:append="show1 = !show1"
          ></v-text-field>

             <v-btn type="submit" color="green" block class="mt-2" to="/menu">Iniciar sesion</v-btn>

         </v-form>
        
     </v-sheet>
 </div>
</template>

<script>

export default {
layout : "default",

data () {
    return {
     visible:false,
     show1 : true,
    };
  },
  
}
</script>

